<div class="col-xs-6 col-md-3 product_list">

    <div class="seat-img">
      <% if !seat.selected? %>
        <%= link_to select_product_seat_path(@product,seat), :method => :post do%>
        <%= image_tag(seat.seatimg.smallseat.url, class: "thumbnail")  %>
        <% end %>
      <% else %>
        <%= link_to cancel_product_seat_path(@product,seat), :method => :post  do%>
        <%= image_tag(seat.seatimg.smallseat.url, class: "thumbnail")  %>
        <% end %>
      <% end %>

        <% if current_user.is_admin? %>
        <%= link_to("删除", product_seat_path(@product,seat), :method => :delete, :data => { :confirm => "Are you sure??" })%>
        <%= link_to("编辑", edit_product_seat_path(@product,seat), :method => :get)%>
    <% else %>
        座号:<%= seat.id%>
        <% end %>

    </div >

</div>
