
<%= content_for :handwrite_javascript do %>
<script src="//cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<% end %>
<canvas id="myChart" width="400" height="400"></canvas>
<%= content_for :handwrite_javascript do %>
<script>
var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= raw @dates.to_json %>,
        datasets: [{
            label: '# of Votes',
            data: <%=  raw @data.to_json %>,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
<% end %>
 <%#= console %> 
<h2>Order List</h2>
<table class="table table-bordered">
<thead>
	<tr>
		<th>#</th>
		<th>Created At</th>
		<th>Buyer</th>
		<th>Order State</th>
	</tr>
</thead>
<tbody>
	<% @orders.each do |order| %>
		<tr>
			<td><%= link_to(order.id,admin_order_path(order)) %></td>
			<td><%= order.created_at.to_s(:long) %></td>
			<td><%= order.user.email %></td>
			<td><%= order.aasm_state %></td>
		</tr>
	<% end %>
</tbody>
</table>