<div class="show">
	<div class="col-md-12" id="order-show">
		<h2><i class="fa fa-list-alt" aria-hidden="true"></i>
Order Detail</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="80%">Product Info</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<% @product_lists.each do |product_list| %>
				<tr>
					<td><%= product_list.product_name %></td>
					<td><b><%= number_to_currency(product_list.product_price,:unit=>'$') %></b> </td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div class="total clearfix">
			<span class="pull-right">
				<span id="total-title" style="margin-right: 20px">Total: </span> <span id="total-money"><%= number_to_currency(@order.total,:unit=>'$') %></span>
			</span>
		</div>
		<div class="pull-left">
			<% if @order.order_placed? || @order.paid? %>
			<%= link_to("Apply To Cancel Order",apply_to_cancel_order_path(@order),method: :post,class:"btn btn-info") %>
			<% end %>
		</div>
		<% if !@order.is_paid? %>
		<div class="group pull-right">
			<%= link_to("Pay With Alipay",pay_with_alipay_order_path(@order.token),method: :post,:class=>"btn btn-primary",:id=>"alipay") %>
			<%= link_to("Pay With WeChat",pay_with_wechat_order_path(@order.token),method: :post,:class=>"btn btn-primary",:id=>"wechat") %>
		</div>
		<% else %>
		<span class="pull-right btn btn-default" disabled="disabled">This Order Has Been Paied</span>
		<% end %>
	</div>
	<% if @order.is_paid? %>
	<hr>
	<h2><i class="fa fa-ticket" aria-hidden="true"></i>
Your tickets</h2>
	<div class="row" style="margin-bottom: 70px;">
		<%  count = 0 %>
		<% @product_lists.each do |product_list| %>
		<% if count == 0 %>
		<div class="row">
			<% end %>
			<% count+=1 %>
			<% product = Product.find(product_list.product_id) %>
			<%= render partial: "orders/product_list_item", locals: { product:product} %>
			<% if count == 4 || product_list == @product_lists.last%>
		</div>
		<% count = 0 %>
		<% end %>
		<% end %>
	</div>
	
	<% end %>
</div>