<div class="row" id="images-gallery">

	<div class="container">
		<div class="row">
			<div id="carousel" class="col-md-12">
				<figure><%= render_samll_img(@products[1]) %>
				</figure>
				<figure><%= render_samll_img(@products[2])%></figure>
				<figure><%= render_samll_img(@products[3])%></figure>
				<figure><%= render_samll_img(@products[4])%></figure>
				<figure><%= render_samll_img(@products[5])%></figure>
				<figure><%= render_samll_img(@products[6])%></figure>
				<figure><%= render_samll_img(@products[7])%></figure>
				<figure><%= render_samll_img(@products[8])%></figure>
				<figure><%= render_samll_img(@products[9])%></figure>
			</div>
		</div>
	</div>
</div>