<div class="row" id="images-gallery">
<h1>3d images gallery</h1>
  <div class="container">
  <div class="row"> 
  <div class="col-md-4"></div>

    	<div id="carousel" class="col-md-6">
    	
    		<figure><%= show_product_image(@products[1])%></figure>
			<figure><%= show_product_image(@products[2])%></figure>
			<figure><%= show_product_image(@products[3])%></figure>
			<figure><%= show_product_image(@products[4])%></figure>
    		<figure><%= show_product_image(@products[5])%></figure>
			<figure><%= show_product_image(@products[6])%></figure>
			<figure><%= show_product_image(@products[7])%></figure>
			<figure><%= show_product_image(@products[8])%></figure>		
			<figure><%= show_product_image(@products[9])%></figure>			


	
		</div>

	</div>
	</div>
</div>
