<tr>
	<td id="item-img-td"><%= small_image(cart_item.product,"cart-items-img")  %></td>
	<td class= 'align-middle text-center' ><%= link_to(cart_item.product.title,product_seats_path(cart_item.product)) %></td>
	<td class="text-center"> <%= number_to_currency(cart_item.product.price,:unit=>'$')%></td>
	<td class="text-left">
		<div style="margin-left: 10%">
			<i class="fa fa-clock-o" aria-hidden="true"><b> <%= cart_item.product.created_at.end_of_month.noon.to_s %></b></i><br>
			<i class="fa fa-map-marker" aria-hidden="true"><b> <%=cart_item.product.location_detail%></b> </i>
		</div>
	</td>
	<td class="text-center"><%= number_to_currency(cart_item.quantity * cart_item.product.price,:unit=>'$ ') %></td>
	<td>
		<%= button_to cart_item_path(cart_item.product),class:'close pull-left',method: :delete do%>
		×
		<% end %>
	</td>
</td>
</tr>