<script type="text/javascript">
	$(document).scroll(function() {
  var y = $(this).scrollTop();
  if (y > 800 && y<2000) {
  $('.sidebar').fadeIn();
  } 

  else {
    $('.sidebar').fadeOut();
  }
});
</script>
<div class="row" id="images-gallery">
<h2 id="center-title">Hot movies</h2>

	<div class="container">
		<div class="row">
			<div id="carousel" class="col-md-12">
				<figure><%= render_samll_img(@products_index[1]) %>
				</figure>
				<figure><%= render_samll_img(@products_index[2])%></figure>
				<figure><%= render_samll_img(@products_index[3])%></figure>
				<figure><%= render_samll_img(@products_index[4])%></figure>
				<figure><%= render_samll_img(@products_index[5])%></figure>
				<figure><%= render_samll_img(@products_index[6])%></figure>
				<figure><%= render_samll_img(@products_index[7])%></figure>
				<figure><%= render_samll_img(@products_index[8])%></figure>
				<figure><%= render_samll_img(@products_index[9])%></figure>
			</div>
		</div>
	</div>
</div>

<div >
	<h1 id="center-title" >Movies on show</h1>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="row display-page">
	<% if @genre_show.present? %>
	<h2 id="index-title"><i class="fa fa-tag" aria-hidden="true"><span class="font-style"><%= @genre_show %></span> </i></h2>
	<% elsif @location_show.present? %>
	<h2 id="index-title"><i class="fa fa-location-arrow" aria-hidden="true"><span class="font-style"><%= @location_show %></span> </i></h2>
	<% else %>
	<% end %>
	<%  count = 0 %>
	<% @products.each do |product| %>
	<% if count == 0 %>
	<div class="row">
		<% end %>
		<% count+=1 %>
		<%= render partial: "product_item", locals: { product:product} %>
		<% if count == 3 || product == @products.last%>
	</div>
	<% count = 0 %>
	<% end %>
	<% end %>

	<div class="row pull-right">
		<%= will_paginate @products ,class:"apple_pagination" %>
	</div>
</div>
	</div>
	<div class="col-md-4">
		
	<div class='sidebar'>
        <h2 style="margin-top: 0px">TOP 5 Box Office</h2>
        <ul>
        
        <% for i in 1..5 do %>
        <% p= Product.find_by_id(i) %>
        <li><%= link_to("#{i}. "+p.title,product_path(p)) %>
        <% if i== rand(1..5) %>
        	 <i class="fa fa-arrow-up pull-right" aria-hidden="true"></i>
        	 <% else %>
        	 <i class="fa fa-arrow-down pull-right" aria-hidden="true"></i>
        <% end %>
       
        </li>
        <% end %>
          
        </ul>
      </div>
	</div>
</div>



